registry=https://registry.npmmirror.com
disturl=https://registry.npmmirror.com/node
nvm_nodejs_org_mirror=https://cdn.npm.taobao.org/dist/node
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
fse_binary_host_mirror=https://registry.npmmirror.com/fsevents
phantomjs_cdnurl=https://npmmirror.com/dist/phantomjs 
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver 
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver 
electron_mirror=http://npm.taobao.org/mirrors/electron
puppeteer_download_host=https://cdn.npm.taobao.org/dist
nwjs_urlbase=https://cdn.npm.taobao.org/dist/nwjs/v
flow_binary_mirror=https://github.com/facebook/flow/releases/download/v