<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gen</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
<style type="text/css">
[title="站长统计"]{
  display: none;
}
</style>
<script type="text/javascript">
  // var baseUrl = 'http://127.0.0.0:8361';
</script>
</head>

<body>
  <div id="root"></div>
<script src="https://s19.cnzz.com/z_stat.php?id=1273085490&web_id=1273085490" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e336d384689cb93566d929900f3400d8";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="http://sdk.talkingdata.com/app/h5/v1?appid=FD6058B84F2C4190AC9440FE11A65C52&vn=gen&vc=v0.0.1"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118987256-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118987256-1');
</script>


</body>

</html>
