<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gen</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
<style type="text/css">
[title="站长统计"]{
  display: none;
}
</style>
<script type="text/javascript">
  // var baseUrl = 'http://127.0.0.0:8361';
</script>
</head>

<body>
  <div id="root"></div>
<script src="https://s19.cnzz.com/z_stat.php?id=1273085490&web_id=1273085490" language="JavaScript"></script>
</body>

</html>
